extends layout

block content
  .inner
    //- note: in the below (html) form 'action' is left out, this will cause it to default to the current URL when submitted  
    form.form(method="POST") 
      h2 Reset Your Password
      label(for="password") Password
      input(type="password" name="password")
      label(for="password-confirm") Confirm Password
      input(type="password" name="password-confirm")
      input.button(type="submit" value="Reset Password <<")
